body {
	color: black;
	font-family: PTSans;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
}

h1.section-title {
	color: black;
	font-family: PTSans;
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;z
}

h2.section-title {
	color: black;
	font-family: PTSans;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}


